#---Jekyll---
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

#---Ultra Edit---
*.bak
*.$$$

#---macOS---
.DS_Store

# local file mods
libraries/community/p2/All/jm_ez_max7219/jm_max7219_ez-fixed.spin2
